.single-line {
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;    /* Optional: Hides overflow text */
  text-overflow: ellipsis; /* Optional: Adds ellipsis for overflow text */
  font-family: Arial, sans-serif; /* Change font style if needed */
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #f19720;
}
.tree{
  width: 7%;
  height: 100%;
}